* {
  box-sizing: border-box;
}

.party{
  display: flex;
}

body {
  background-color: #725ba4;
  color: #fce8df;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  height: 100%;
}

.container {
  margin-top: 50px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 25px;
}

hr {
  opacity: 0.6;
}

.error,
.hidden {
  display: none;
}

.tab {
  overflow: hidden;

  border-radius: 4px;

  display: block;
}

.tab button {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  justify-content: center;
  align-items: center;
}
.tablinks {
  padding: 15px 15px 15px 15px;
  margin: 30px;
}
.tab button:hover {
  background-color: #ddd;
}

#create-tab-content {
  display: block;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.metamask-logo {
  height: 100px;
  width: 100px;
}

.input-container {
  position: relative;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.form {
  margin-top: 24mm;
}
.action-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s;
}

.pizza-container p {
  width: 350px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
}

.pizza-container:hover .action-buttons {
  opacity: 1;
}

.action-buttons button {
  margin-bottom: -10px;
  line-height: 1;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.action-buttons button:nth-child(1) {
  float: left;
  margin-left: 20px;
}

.action-buttons button:nth-child(2) {
  float: right;
  margin-right: 20px;
}

.inventory-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.inventory-list .pizza-container img {
  transition: all 0.3s;
  width: 350px;
  max-width: 100%;
}

.inventory-list .pizza-container:hover img {
  transform: translateY(-50px);
}

.inventory-list .pizza-container:hover .pizza-frame {
  transform: translateY(0px);
}

.pizza-container img {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
}

input {
  background: white;
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}

input:first-of-type {
  margin-right: 10px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

button.btn {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  border: 0;
  background: white;
  border-radius: 4px;
  padding: 0.75em 1.5em;
  color: #8641f2;
  transition: 0.2s opacity;
  max-width: 200px;
}

#status {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#status.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

button:disabled {
  background: #ccc;
  opacity: 0.6;
  color: white;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.sega {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 130px;
  margin-left: 140px;
}
.pizza-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 395px;
  height: 325px;
  max-width: 100%;
  margin-bottom: 60px;
  transition: all 0.3s;
}
#pizza-create-container {
  margin-bottom: 10px;
}
